.todo-form {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.todo-form-input {
  flex: 1;
  padding: 0.75rem; /* Aynı yükseklik için padding artır */
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 40px; /* Sabit yükseklik */
}

.todo-form-button {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 40px; /* Input ile aynı yükseklik */
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form-button:hover {
  background-color: #1e40af;
}